body {
    font-family: Arial, sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient( 109.6deg,  rgba(204,0,0,1) 11.2%, rgba(68,0,0,1) 100.6% );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {
    background-color: white;
    width: 25vw;
    height: 40dvh;
    margin: 1vw;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-top: 0;
    color: rgba(204,0,0,1);
    text-align: center;
    font-size: 2em;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 24vw;
    padding: 10px;
    margin-bottom: 3dvh;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container input[type="checkbox"] {
    margin-right: 5px;
}

.login-container button {
    width: 24vw;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
}
 
 .login-container button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media (max-width: 475px) {
    body {
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .login-container {
        width: 80vw; 
        height: 50dvh;   
        padding: 5vw;
    }

    .login-container h2 {
        font-size: 2em;
    }

    .login-container input {
        width: 100%;
        padding: 15px;
        margin: 10px;
    }
    .login-container input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
    .login-container button {
        width: 75vw;
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    }
    .login-container button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
}